<!DOCTYPE html>
<html style="background-color:#BFE7EC;">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <link href='https://fonts.googleapis.com/css?family=Roboto:900,400' rel='stylesheet' type='text/css'>
      <style type="text/css">img {display:block;margin:0 auto 30px;}img.wikitongues {margin:0 auto 10px;}img.wikitongues:first-of-type {position:absolute;top:0;right:0;}.backgroundElement::after {background-color:transparent;content:"";position:absolute;top:122px;border-left:1020px solid;border-left-color:inherit;border-bottom:168px solid transparent;}</style>
  </head>
  <body style="position:relative; padding:30px; margin:0 auto; background-color:#FFEDE6; width:960px; display:block;">
    <span class="backgroundElement" style="z-index:0; top:0; left:0; margin: 0; width: 100%; height: 122px; position: absolute; background-color: rgb(191, 231, 236); border-color: rgb(191, 231, 236);"></span>
    <div class="wrapper" style="position:relative; width:600px; margin:auto;">
      <%= image_tag "mailer/welcome/wikitongues.png", width: "30", height: "30", alt: "Wikitongues", class:"wikitongues"%>
      <%= image_tag "mailer/welcome/logo.png", width: "350", height: "190", alt: "Poly the Parrot"%>
      <h1 style="width:500px;text-align:center;margin:0 auto 40px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98;">Welcome to Poly!<br>We're better together.</h1>
      <p style="width:500px;text-align:center;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Great to see you've joined the Wikitongues community!</p>
      <%= image_tag "mailer/welcome/newBook.png", width: "600", height: "338",alt: "Create a new phrasebook"%>
      <h1 style="width:500px;text-align:center;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#F981A2;">First things first.</h1>
      <p style="width:500px;text-align:center;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">If you haven’t yet, sign in and <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://poly.wikitongues.org/books/new">create a phrasebook</a>.</p>
      <p style="width:500px;text-align:center;margin:0 auto 10px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Wondering what next?</p>
      <h1 style="width:500px;text-align:center;margin:0 auto 60px; font-family: 'Roboto', sans-serif; font-size:30px; color:#FF7C98; background-color:#FEE4DB; padding:30px;">Here are three ways you can help language diversity worldwide:</h1>
      <section style="position:relative; margin-bottom:60px;">
        <%= image_tag "mailer/welcome/share.png", width: "600", height: "338",alt: "Sister Cookson and Sister Sooalo share their stories"%>
        <span style="line-height:78px; position: absolute; right: -34px; top: -34px; border-radius: 100%;;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#FF5F81;">1</span>
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#F981A2;">Share Poly with your friends and teachers.</h1>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">If you like using Poly so far, please invite and encourage your friends and teachers to join too. We're a tight-knit community, and everyone has something to add. Whether it be feedback to the app, new partnerships with schools or projects, or new word lists, we want everyone!</p>
      </section>
      <section style="position:relative; margin-bottom:60px;">
      <%= image_tag "mailer/welcome/explore.png", width: "600", height: "338",alt: "Caroline 'Jabulile' White, Gullah storyteller"%>
        <span style="line-height:78px; position: absolute; right: -34px; top: -34px; border-radius: 100%;;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#e972bc;">2</span>
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#E98DC6;">Explore every language in the world with Wikitongues.</h1>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Head over to <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.wikitongues.org">www.wikitongues.org</a> and learn about what the Wikitongues organization does beyond Poly.</p>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Discover the languages of the world at the <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.youtube.com/wikitongues">Oral Histories</a> project!</p>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Excited yet? <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.wikitongues.org/volunteer">Help us record new languages</a> and fulfill our mission of working with every language in the world!</p>
      </section>
      <section style="position:relative; margin-bottom:60px;">
        <%= image_tag "mailer/welcome/know.png", width: "600", height: "338",alt: "Ademar and Aurora reminisce"%>
        <span style="line-height:78px; position: absolute; right: -34px; top: -34px; border-radius: 100%;;margin:0; font-family: 'Roboto', sans-serif; display:block; height:78px; width:78px; text-align: center; font-size:50px; background-color:#FFEDE6; font-weight:900; color:#c584fb;">3</span>
        <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#D2A1FB;">Be sure to stay in the know!</h1>
        <p style="width:500px;margin:0 auto 20px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;"><a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.patreon.com/wikitongues">Subscribe to monthly publishing guides</a> on Patreon, discover new and incredible points of view and the science behind them on our blog on <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.medium.com/wikitongues">Medium</a>, and keep in touch by liking our <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.facebook.com/wikitongues">Facebook</a> page, following us on <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="https://www.twitter.com/wikitongues">Twitter</a>, and subscribing to our <a style="text-decoration:none;color:#4699FC; font-weight:900;" href="">mailing list</a>.</p>
        <p style="width:500px;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">There's never enough culture.</p>
      </section>
      <h1 style="width:500px;margin:0 auto 10px; font-family: 'Roboto', sans-serif; font-size:30px; color:#BC7FFB;">Lastly,</h1>
      <p style="width:500px;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">We'd like to get to know you a bit better, and have only one question: why did you sign up to Poly? Just hit "reply" and let us know, we're all real people here.</p>
      <h1 style="width:500px;margin:0 auto 60px; font-family: 'Roboto', sans-serif; font-size:30px; color:#9D5AFC;">Your friends at Wikitongues</h1>
      <p style="width:500px;margin:0 auto 60px;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Wikitongues is a 501(c)(3) non-profit organization orchestrated from Brooklyn, NY.</p>
      <%= image_tag "mailer/welcome/wikitongues.png", width: "30", height: "30", alt: "Wikitongues", class:"wikitongues"%>
      <p style="width:500px;text-align:center;margin:0 auto;font-family: 'Roboto', sans-serif; font-size:14px; line-height:22px; color:#190B7B; font-weight:300;">Every language in the world.</p>
    </div>
  </body>
</html>