<!DOCTYPE html>
<html>
<head>
  <title>Poly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'client'%>
  <%= javascript_include_tag 'cors-upload'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id =>"notice", :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <%= yield %>


  <p class="brand"><%= image_tag 'icons/i_home_1.svg' %> Wikitongues</p>

  <script>
    setTimeout("$('#notice').fadeOut('4000')", 3000)
  </script>
</body>
</html>
