<!DOCTYPE html>
<html>
<head>
  <title>Poly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'es6-shim-polyfill'%>
  <%= javascript_include_tag 'es6-promises-polyfill'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'client'%>
  <%= javascript_include_tag 'cors-upload'%>
  <!-- <%= favicon_link_tag 'favicon.ico' %> -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:900,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :id =>"notice", :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <%= yield %>


  <p class="brand"><%= image_tag 'icons/i_home_1.svg' %> Wikitongues</p>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'bootbox'%>
  <script>setTimeout("$('#notice').fadeOut('4000')", 3000)</script>

</body>
</html>
